/* body{
    background-color: black;
} */
.text{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
}
p.paragraph{
    font-weight: bold;
    font-size: 25px;
    margin-left: 25px;
}
a:link {
    color: goldenrod;
  }
  a:link {
    text-decoration: none;
  }
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
.heading2{
    color: white;
    display: flex;
    text-decoration: underline;
    margin-top: 30px;
    margin-left:50px ;
    font-weight: bold;
}
hr.line{
 
    border-top: 5px solid black;
}
.image{
    margin-left:50px ;
    margin-top: 30px;
    margin-bottom: 20px;

}